<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách thành viên</title>
</head>
<body>
    <h2>Danh sách thành viên</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên đăng nhập</th>
                <th>Quyền</th>
                <th>Họ và tên</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="thanhvien : ${dsThanhVien}">
                <td th:text="${thanhvien.id}"></td>
                <td th:text="${thanhvien.tenDangNhap}"></td>
                <td th:text="${thanhvien.quyen}"></td>
                <td th:text="${thanhvien.hoVaTen}"></td>
                <td th:text="${thanhvien.diaChi}"></td>
                <td th:text="${thanhvien.sdt}"></td>
                <td th:text="${thanhvien.email}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
