<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách thương hiệu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">Danh sách thương hiệu</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã thương hiệu</th>
                    <th>Tên thương hiệu</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="thuongHieu : ${dsThuongHieu}">
                    <td th:text="${thuongHieu.maThuongHieu}"></td>
                    <td th:text="${thuongHieu.tenThuongHieu}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
